---
layout: default
title: Homepage
meta: Awesome things done by an awesome person! · Ottawa, ON
about-title: Meet me!
about-content: My name is Tamara Kazaniwsky, a young designer exploring and defining art and design. I work in traditional media usually with a twist, I enjoy mixing my medias be it paint and markers or sketches and motion graphics.
about-content-2: I'm always growing my skills and learning everyday! Every new project is an opportunity for maximum creativity, send me an email and lets create together!
---

{% include main-homepage.html %}
{% include about-me.html %}
